body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
#_idContainer000 {
	-ms-transform:translate(-0.001px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.001px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:843.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.001px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:595.28px;
}
#_idContainer001 {
	-ms-transform:translate(23.000px,27.993px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(23.000px,27.993px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:787.95px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(23.000px,27.993px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(23.000px,27.993px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:549.64px;
}
#_idContainer002 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:855.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:222.12px;
}
#_idContainer003 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:254.19px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:595.28px;
}
#_idContainer004 {
	-ms-transform:translate(48.188px,48.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(48.188px,48.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:744.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(48.188px,48.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(48.188px,48.188px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:498.90px;
}
#_idContainer005 {
	-ms-transform:translate(217.322px,263.190px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(217.322px,263.190px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:542.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(217.322px,263.190px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(217.322px,263.190px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:343.06px;
}
#_idContainer006 {
	-ms-transform:translate(396.162px,642.566px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(396.162px,642.566px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:140.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(396.162px,642.566px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(396.162px,642.566px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:141.22px;
}
#_idContainer007 {
	-ms-transform:translate(400.500px,646.688px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(400.500px,646.688px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:132.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(400.500px,646.688px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(400.500px,646.688px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:136.21px;
}
#_idContainer008 {
	-ms-transform:translate(36.331px,155.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.331px,155.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:636.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.331px,155.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.331px,155.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:291.08px;
}
#_idContainer009 {
	-ms-transform:translate(47.188px,39.888px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(47.188px,39.888px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:111.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(47.188px,39.888px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(47.188px,39.888px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:500.90px;
}
#_idContainer010 {
	-ms-transform:translate(47.188px,155.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(47.188px,155.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:107.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(47.188px,155.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(47.188px,155.689px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:525.81px;
}
img._idGenObjectAttribute-1 {
	left:0px;
	position:absolute;
	top:0px;
}
img._idGenObjectAttribute-2 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
